page-order-detail {
  .line_bottom{
    border-bottom: 1px solid #e7e2ec;
  }

  .top_info{
    background-color: #ece5e5;
  }
  .grid{
    padding: 0px;
  }
  .col_detail{
    padding: 0px;
  }
  .col-padding-left{
    padding-left: 10px;
  }
  .col-padding-right{
    padding-right: 10px;
  }
  .col-padding-left-top{
    padding-left: 10px;
    padding-top: 10px;
  }
  .top_product{
    background-color: #ece5e5;
    height: 40px;
  }

  .bottom_info{
    border-bottom: 1px solid #e7e2ec;
    height: 40px;
  }
}
