page-certification {
  .grid-list {
    padding: 0;
  }
  .ion-row-border-solid-right {
    border-bottom: 1px solid #ddd;
    padding-left: 1em;
  }
  .p-content-col-image-1 {
    width: 10px;
    float: right;
  }
  .label-complete-show{
    text-align:right !important;
  }
  .span-complete-show{
    margin-right: 1em;
  }
}
